<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <test name="Iphone 14 Test">
        <parameter name="deviceName" value="Iphone14 Plus" />
        <classes>
            <class name="runners.TestNGRunnerTest"/>
        </classes>
    </test>
<!--    <test name="Android">-->
<!--        <parameter name="deviceName" value="VivoT1" />-->
<!--        <classes>-->
<!--            <class name="runners.TestNGRunnerTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>